@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.side-dash {
    grid-row: 1 / 3;
    background-color: aqua;

    display: flex;
    flex-flow: column wrap;
    padding: 1rem 2rem;
    gap: 2rem;
    font-size: 1.5rem;
}

.header {
    background-color: azure;
}

.activities {
    background-color: blueviolet;
}